.gradient-blur {
  mask: linear-gradient(to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 50%);
  z-index: 0;
}

main {
  min-height: 100vh;
  max-width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

@media (min-width: 640px) {
  main {
    max-width: 400px;
  }
}

@media (min-width: 768px) {
  main {
    max-width: 600px;
  }
}

@media (min-width: 1024px) {
  main {
    max-width: 800px;
  }
}

@media (min-width: 1280px) {
  main {
    max-width: 800px;
  }
}

@media (min-width: 1536px) {
  main {
    max-width: 1200px;
  }
}