---
import Layout from '~/layouts/Layout.astro';
---
<Layout>
  <main>
    <h1 class="text-4xl font-bold">Contact</h1>
    <p class="text-xl">This area is still under construction.</p>
  </main>
</Layout>