---
import "~/styles/globals.css";
import "~/styles/fonts.css";
import "~/styles/fx.css";
import '@fontsource/geist-mono';
import '@fontsource/geist-sans';
import { Navbar } from "~/components/navbar"
import { CommandDialogDemo } from "~/components/cmdk"
---

<>
  <html lang="en" class={`dark`}>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
      <meta name="generator" content={Astro.generator} />
      <title>hackr | Mohammad Al-Ahdal</title>
      <link rel="stylesheet" href="https://geistfont.vercel.app/geist.css" />
    </head>
    <body class="bg-[#0A2239] flex flex-column items-center justify-center">
			<Navbar client:load />
			<CommandDialogDemo client:load />
      <slot />
    </body>
  </html>
</>
